<div class="flex flex-col w-full h-min bg-white rounded-lg">
    <div class="grid grid-cols-12 divide-x divide-blue-300 p-6 h-full">
        <div class="col-span-2 justify-between">
            <div class="flex flex-col justify-between h-full">
                <p>{{post.author}}</p> 
                <p>{{post.createdAt}}</p>
            </div>
        </div>
        <div class="pl-6 col-span-8 ">{{post.content}}</div>
        @if (isAuthor){
            <div  class="col-span-2 flex flex-col justify-around w-full">
                <app-button class="pl-6" [title]="'Edit'" (click)="toEditScreen()"></app-button>
                <app-button class="pl-6" [title]="'Delete'" (click)="deletePost()"></app-button>
            </div>
        }
        
    </div>
</div>