<div class="flex flex-row bg-black/20 h-full justify-center overflow-y-auto">
    <div class="flex flex-col  w-3/4 pt-8 space-y-4">
        <div class="flex flex-row">
            <p class="text-3xl">
                New message
            </p>
        </div>
            <textarea type="text"  [formControl]="content" placeholder="Be creative !!" class="rounded-md h-52 w-full"></textarea>
        <div class="flex flex-col items-end">
            <app-button [title]="buttonTitle" (click)="onSubmit()"></app-button>
        </div>
    </div>
</div>
